.header{
    // // 
    position:fixed;
    z-index:1;
    width:100%;
}.nav{
  // overflow: scroll;
    // position:fixed;
    // z-index:1;
    width:100%;
   
    .categories{
        width:100%;
        overflow: auto;
        background-color: #ed017f;
display:flex;

// justify-content: space-around;
align-items: center;
li{
    padding: 1rem 6rem;
    color:white;
    font-size: 14px;
  &:hover {
    background-color: rgb(255, 255, 255);
    color:black
  }
}
    }

}